*.backup
downloaded
data/*.csv
/data
/artifacts
.venv
hse-project-410510-75980d080a1d.json
.idea
__pycache__/
outputs
.env
recsys/.ipynb_checkpoints/app-checkpoint.py
notebooks/.DS_Store
.ipynb_checkpoints
