*.backup
downloaded
data/*.csv
/data
/artifacts
.venv
hse-project-410510-75980d080a1d.json
.idea
notebooks/__pycache__/artefacts_user_to_user.cpython-311.pyc
notebooks/__pycache__/artefacts_user_to_user.cpython-39.pyc
recsys/.ipynb_checkpoints/app-checkpoint.py
